@keyframes floatY {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-8px);
    }

    100% {
        transform: translateY(0px);
    }
}


.floatY {
    animation: floatY 6s ease-in-out infinite;
}